{% extends "admin/admin_layout.html.twig" %}
{% block content %}
    
    {% form_theme edit_form 'fields.html.twig' %}
    
    
  <div class="card card-block sameheight-item col-xl-8 col-lg-push-2">
        <div class="title-block">
            <h3 class="title text-sm-center">
                Edit Product
            </h3> </div>

         
            {% include 'product/form.html.twig' with {'form': edit_form} %}
      
        
        {{ form_rest(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Save" />
    {{ form_end(edit_form) }}
      
    
    
    
    
         <div style="float:right">
 {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete" />
{{ form_end(delete_form) }}    
    </div>

  </div>    
{% endblock %}
