<li><a href="{{ url('admin_settings') }}"> All Settings</a></li>

<li><a href="{{ url('admin_settings', {'category': 'setting'}) }}"> Setting</a></li>
<li><a href="{{ url('admin_settings', {'category': 'content-block'}) }}"> Content-Block </a></li>